$body-font-family = 'Lato', sans-serif
$alert-font-size = 18px
$button-font-size = 16px
$button-margin = 20px

$button-color =  #E0E0E0
$body-bg-light = #007936



@import '~vuetify/src/stylus/theme.styl'

$material-light.background = #E9F2EA
$material-light.fg-color = #050505


@import '~vuetify/src/stylus/main'

 
